@using Projeto_Aplicado.Entidades
@{
    var projetos = ViewBag.Projetos as List<Projeto>;
}

<style>
    p {
        color: white;
    }

    .btn {
        margin-top: 30px;
        background: #066C8B;
        border-radius: 999px;
        box-shadow: #066C8B 0 10px 20px -10px;
        box-sizing: border-box;
        color: rgba(255,255,255, 1);
        cursor: pointer;
        font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        opacity: 1;
        outline: 0 solid transparent;
        padding: 8px 18px;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        width: fit-content;
        word-break: break-word;
        border: 0;
    }

        .btn:hover {
            background: #066C8B;
            transform: scale(1.02);
        }

    .projeto {
        border: 3px solid #066C8B;
        border-radius: 5%;
        margin-bottom: 5em;
    }
    .nome p {
        margin-bottom: 0px;
        padding: 5px;
    }
    p {
        margin-bottom: 0px;
    }
</style>

<body style="background-color: #0D1117" />

<div class="row">
    <div class="col-12">
        <a type="button" asp-action="Novo" asp-controller="Projeto" class="btn btn-primary float-right">Criar Projeto</a>
    </div>
</div>
<br />
<div class="telaProjetos">
    @{
        foreach (var prj in projetos)
        {
                    <div class="d-flex justify-content-center">
                        <div class="col-8 justify-content-center">
                            <div style="text-align: center; background: #161B22;" class="projeto">
                                <div style="box-shadow: 0 -10px 10px -10px rgba(0, 200, 255, 0.5) inset" class="nome">
                                    <p>Usuário: @prj.Usuario.Nome<p />
                                </div>
                                <div style="border-bottom: 1px solid rgba(0, 200, 255, 0.5); border-top: 1px solid rgba(0, 200, 255, 0.5);" class="titulo">
                                    <p>Título: @prj.Titulo <p />
                                </div>

                                <div style="box-shadow: 0 3px 10px rgba(0, 200, 255, 0.5) inset " class="imagem">
                                    <img style="border: 2px dashed #066C8B; margin-top: 20px; margin-bottom: 20px;" src="@prj.Imagem" width="400" height="400" />
                                </div>

                                <div style="border-bottom: 1px solid rgba(0, 200, 255, 0.5); border-top: 1px solid rgba(0, 200, 255, 0.5)" class="descricao">
                                    <p style="word-break: break-word; padding: 7px">Descrição: @prj.Descricao <p />
                                </div>

                                <div style="box-shadow: 0 10px 10px -10px rgba(0, 200, 255, 0.5) inset" class="itens">
                                    <p style="padding: 10px">Itens: @prj.Itens <p />
                                </div>
                            </div>
                        </div>
                    </div>
        }
    }
</div>